html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

main {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 52.8%;
    padding-top: 35px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    width: 50%;
    height: 50%;
    max-width: 80vw;
    max-height: 80vw;
    margin: 50px;
}

@media only screen and (max-width: 1024px) {
    iframe {
        width: 85vw;
    }
}